<div class="container mt-4">
  <h2>Summary</h2>

  <div class="row mb-3">
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="selectedYear" (change)="onYearChange()">
        <option [ngValue]="null">All years</option>
        <option *ngFor="let year of availableYears" [ngValue]="year">{{ year }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="selectedMonth" (change)="onMonthChange()" [disabled]="!selectedYear">
        <option [ngValue]="null">All months</option>
        <option *ngFor="let month of availableMonths" [ngValue]="month">{{ month }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Category name</th>
          <th>Sum amount</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of summaryList">
          <td>{{ item.categoryName }}</td>
          <td>{{ item.sumAmount | currency:'HUF':'symbol':'1.0-0' }} Ft</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <canvas #myChart></canvas>
    </div>
  </div>
</div>
